footer{
    background-color: crimson;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

footer p{
    color: black;
    font-family: 'PT Sans', sans-serif;
}

nav{
    
    width: 100%;
    margin: 10px auto;
    text-align: right;
}
nav ul li{
    display: inline-flex;
}

nav ul li a{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 30px;
    margin: 0 10px;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
    color: crimson;
    text-align: center;
    font-family: 'Dancing Script',cursive;
}

p{
    color: cornflowerblue;
    font-size: 20px;
    text-align:center;
}

h2{
    color: blue;
    font-family: 'Dancing Script',cursive;
}

.donut-section{
    width: 100vw;
}
.image-container{
    width: 100%;
    
}
.row-one, .row-two, .row-three{
   
    width: 90%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.grid-item{
    
    width: 30%;
    height: 310px;
    margin: 15px;
    border-radius: 20px;
}

#donut-one{
    background-image: url("babycupcake.jpg");
    background-size: cover;
    background-position: center;
}

#donut-two{
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
}

#donut-three{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

#donut-four{
    background-image: url("cupcake2.jpg");
    background-size: cover;
    background-position: center;
}

#donut-five{
    background-image: url("coffee2.jpg");
    background-size: cover;
    background-position: center;
}
#donut-six{
    background-image: url("redvelvet.jpg");
    background-size: cover;
    background-position: center;
}

#donut-seven{
    background-image: url("coffee3.jpg");
    background-size: cover;
    background-position: center;
}

#donut-eight{
    background-image: url("couple.jpg");
    background-size: cover;
    background-position: center;
}

#donut-nine{
    background-image: url("ice3.jpg");
    background-size: cover;
    background-position: center;
}

.grid-item{
	width: 500px;
	height: 500px;
	margin: 10px;
	transition: all;
}

@media only screen and (max-width:840px){
    .row-one,.row-two,.row-three,.top-row,.bottom-row{
        flex-direction: column;
        align-items: center;
        
    }
    
    .grid-item{
        width: 100%;
    }
}
@media only screen and (max-width:420px){
    h1{
        width: 300px;
        font-size: 2.9em;
    }

}
@media only screen and (max-width:320px){
    h1{
        width: 250px;
        font-size: 2.7em;
    }

}
@media only screen and (max-width:270px){
    h1{
        width: 200px;
        font-size: 2.5em;
    }

}
@media only screen and (max-width:220px){
    h1{
        width: 150px;
        font-size: 2em;
    }

}
@media only screen and (max-width:170px){
    h1{
        width: 100px;
        font-size: 1.9em;
    }

}
